<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title">Квитки, які можна перемістити до пачки</h4>
    </div>

    <div class="modal-body">
        <div id="loading-message" style="display:none">Завантаження...</div>
        <div id="move-result"></div>
        <div id="ticket-list"></div>
    </div>
</div>
