@model PartialModel<int>

@{
    bool isAdmin = User.IsInRole("Admin");
}

<script>
    function OnBegin() {
        $('#package-result').html('');
    }

    // For delete action.
    function OnSuccess(data) {
        $('#package-toolbar').html('');
    }
</script>

<div id="package-grid">
    @Html.Action(Model.Action, Model.Controller, new { id = Model.Param, partial = true })
</div>

@if (isAdmin)
{
    <div id="package-result"></div>
    @Html.Partial("ToolbarPartial", Model.Param)
}
<br />

<div>
    @Html.ActionLink("Назад до списку", "Index")
</div>

@section scripts {
    @Scripts.Render("~/Scripts/tickets-move-few-modal.js")
}