@model PartialViewModel

@{
    ViewBag.Title = Model.Title;
    bool isAdmin = User.IsInRole("Admin");
}

<div id="package-grid">
    @{ 
        Html.RenderPartial(Model.PartialViewName, Model.ModelObject);
    }
</div>

@if (isAdmin)
{
    <div id="package-result"></div>

    {
        Html.RenderPartial("ToolbarPartial", Model.ModelId);
    }
}
<br />

<div>
    @Html.ActionLink("Назад до списку", "Index")
</div>

@section scripts {
    @Scripts.Render("~/Scripts/tickets-move-few-modal.js", "~/Scripts/package.js")
}