@model int

@{ 
    Layout = null;
    bool isAdmin = User.IsInRole("Admin");
    var ajaxOptions = new AjaxOptions { UpdateTargetId = "package-grid", OnBegin = "OnBegin" };
    var routeValues = new { id = Model };
}

<div id="package-toolbar" class="btn-group" role="group">

    @Ajax.ActionLink("Деталі", "Details", routeValues, ajaxOptions, new { @class = "btn btn-default"})

    @if (isAdmin)
    {
        @Ajax.ActionLink("Редагувати", "Edit", routeValues, ajaxOptions, new { @class = "btn btn-default" })
        @Ajax.ActionLink("Видалити", "Delete", routeValues, ajaxOptions, new { @class = "btn btn-default" })
    }
</div>
