<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/report.css")
</head>

<body>
    @RenderBody()

    <footer>
        <hr />
        <p>&copy; Ticket Management System, @DateTime.UtcNow (UTC)</p>
    </footer>
</body>
</html>

