<div ng-controller="todoController" ng-show="selectedTask !== undefined">
    <h3>Задача "{{selectedTask.Title}}"</h3>
    <hr />

    <dl class="dl-horizontal">
        <dt>ID:</dt>
        <dd ng-bind="selectedTask.Id"></dd>

        <dt>Назва:</dt>
        <dd ng-bind="selectedTask.Title"></dd>

        <dt ng-show="selectedTask.Description !== null">Опис:</dt>
        <dd ng-show="selectedTask.Description !== null" ng-bind="selectedTask.Description"></dd>

        <dt>Дата:</dt>
        <dd>{{selectedTask.Date | date:'dd.MM.yyyy'}}</dd>

        <dt>Пріоритет:</dt>
        <dd ng-bind="selectedTask.PriorityString"></dd>

        <dt>Статус:</dt>
        <dd ng-bind="selectedTask.StatusString"></dd>
    </dl>

    <hr />

    <div class="row">
        <div class="btn-group">
            <a class="btn btn-default" role="button" href="#!edit/{{selectedTask.Id}}">Редагувати</a>
            <button class="btn btn-default" role="button" ng-click="deleteSelectedTask(selectedTask.Id)">Видалити</button>
        </div>

        <div ng-switch on="selectedTask.Status" class="btn-group">
            <div ng-switch-when="0">
                <button class="btn btn-warning" role="button" ng-click="setStatus(selectedTask.Id, 1)">Помітити як в процесі</button>
                <button class="btn btn-success" role="button" ng-click="setStatus(selectedTask.Id, 3)">Помітити як виконану</button>
            </div>

            <div ng-switch-when="1">
                <button class="btn btn-primary" role="button" ng-click="setStatus(selectedTask.Id, 0)">Помітити як вільну</button>
                <button class="btn btn-success" role="button" ng-click="setStatus(selectedTask.Id, 3)">Помітити як виконану</button>
            </div>

            <div ng-switch-when="2">
                <button class="btn btn-success" role="button" ng-click="setStatus(selectedTask.Id, 3)">Помітити як виконану</button>
            </div>

            <div ng-switch-when="3">
                <button class="btn btn-danger" role="button" ng-click="setStatus(selectedTask.Id, 2)">Помітити як перероблюється</button>
            </div>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-default">{{selectedTask.PriorityString}}</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toogle dropdown</span>
            </button>

            <ul class="dropdown-menu">
                <li ng-repeat="p in priorities" ng-show="{{selectedTask.Priority !== p.value}}">
                    <a ng-click="setPriority(selectedTask.Id, p.value)">{{p.text}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div ng-controller="todoController" ng-hide="selectedTask !== undefined" class="alert alert-danger" role="alert">
    Задачу не знайдено.
</div>
