<div ng-controller="todoEditController" ng-show="selectedTask !== undefined">
    <h3>Редагувати задачу</h3>
    <hr />

    <form ng-model="editForm" id="editForm" name="editForm">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2" for="Title">Назва</label>

                <div class="col-md-10">
                    <input ng-model="selectedTask.Title" type="text" class="form-control text-box single-line" id="Title" name="Title" ng-required="true" ng-minlength="3" ng-maxlength="64" placeholder="Введіть назву задачі" />
                    <span ng-show="!editForm.Title.$valid && editForm.Title.$touched" class="field-validation-valid text-danger">Назва задачі має бути від 3 до 64 символів.</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Description">Опис</label>

                <div class="col-md-10">
                    <textarea ng-model="selectedTask.Description" class="form-control text-box multy-line" id="Description" name="Description" ng-maxlength="256" placeholder="Введіть опис задачі"></textarea>
                    <span ng-show="!editForm.Description.$valid && editForm.Description.$touched" class="field-validation-valid text-danger">Опис не може бути більшим за 256 символів.</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" ng-disabled="!editForm.$valid" class="btn btn-primary" ng-click="editTask(selectedTask.Title, selectedTask.Description, editForm)">Зберегти</button>
                    <a href="#!/details/{{selectedTask.Id}}" role="button" class="btn btn-default">Скасувати</a>
                </div>
            </div>
        </div>
    </form>

    <div ng-show="formSuccessMessage.length > 0" class="alert alert-success" role="alert">
        <span>{{formSuccessMessage}}</span>
    </div>

    <div ng-show="formErrors.length > 0" class="alert alert-danger" role="alert">
        <ul>
            <li ng-repeat="e in formErrors">{{e}}</li>
        </ul>
    </div>
</div>

<div ng-controller="todoEditController" ng-hide="selectedTask !== undefined" class="alert alert-danger" role="alert">
    Задачу не знайдено.
</div>
