@using TicketManagementSystem.Enumerations;

@model PartialType

@{

}

<div id="serialGrid">
    @switch(Model)
    {
        case PartialType.Details:
            @Html.Partial("DetailsPartial", (SerialDetailsModel)ViewBag.ViewModel)
            break;

        case PartialType.Edit:
            @Html.Partial("EditPartial", (SerialEditModel)ViewBag.ViewModel)
            break;

        case PartialType.Delete:
            @Html.Partial("DeletePartial", (SerialDetailsModel)ViewBag.ViewModel)
            break;
    }
</div>

<div id="serialResult">

</div>