@model PartialModel<int>

@{

}

<div id="serialGrid">
    @Html.Action(Model.Action, Model.Controller, new { id = Model.Param, partial = true })
</div>

<div id="serialResult"></div>

@section scripts {
    @Scripts.Render("~/Scripts/packages-modal.js")
}