@model int

@{
    Layout = null;
    var ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "serial-grid",
        OnBegin = "onToolbarSelectionChanged",
        OnSuccess = "onToolbarSelectionChangedSuccess"
    };

    var routeValues = new { id = Model };
    var html = new { @class = "list-group-item" };
}

<div class="list-group text-left">
    @Ajax.ActionLink("Деталі", "Details", routeValues, ajaxOptions, html)
    @Ajax.ActionLink("Редагувати", "Edit", routeValues, ajaxOptions, html)
    @Ajax.ActionLink("Видалити", "Delete", routeValues, ajaxOptions, html)
</div>
