@model AccountIndexModel

@{
    ViewBag.Title = $"Сторінка профілю \"{Model.UserName}\"";
}

<h2>@ViewBag.Title</h2>

<div id="account-grid">
    @Html.Partial("IndexPartial", Model)
</div>

@section scripts {
    @Scripts.Render("~/Scripts/account-index.js")
}