@model TicketManagementSystem.Web.ViewModels.Account.AccountIndexModel

@{
    ViewBag.Title = $"Сторінка профілю {Model.Login}";
}

<h2>@ViewBag.Title</h2>

<div id="accountGrid">
    @Html.Partial("IndexPartial", Model)
</div>