@model IEnumerable<string>

<div class="alert alert-danger alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>

    <ul>
        @foreach (var error in Model)
        {
            <li>@error</li>
        }
    </ul>
</div>
