@model SelectListModel

<select id="@Model.Id" name="@Model.Name" class="form-control">
    @foreach (var opt in Model.Options)
    {
        <option value="@opt.Value">@opt.Text</option>
    }
</select>
