@{
    ViewBag.Title = "Статистика";
}

<h2>@ViewBag.Title</h2>
<p>@Html.ActionLink("Переглянути статистику за місяцями", "Monthly")</p>
<hr />

<p>
    Статистика станом на @Html.DisplayDateTime(DateTime.Now.ToUniversalTime(), "G")
</p>

<div class="row">
    <div id="by-serial-chart" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pie-chart"></div>
    <div id="by-number-chart" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pie-chart"></div>
</div>

<div class="row">
    <div id="by-color-chart" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pie-chart"></div>
    <div id="tickets-chart" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pie-chart"></div>
</div>

<div class="row">
    <div id="happy-by-serial-chart" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pie-chart"></div>
    <div id="happy-by-number-chart" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pie-chart"></div>
</div>

    @section scripts {
        @Scripts.Render("https://www.gstatic.com/charts/loader.js", "~/Scripts/statistics.js")
    }
