@model PartialModel<int>

@{
    
}

<script>
    function OnBegin() {
        $('#ticket-result').html('');
    }

    // For delete action.
    function OnSuccess(data) {
        $('#ticket-toolbar').html('');
    }
</script>

<div id="ticket-grid">
    @Html.Action(Model.Action, Model.Controller, new { id = Model.Param, partial = true })
</div>

<div id="ticket-result"></div>
@Html.Partial("ToolbarPartial", Model.Param)