@model PartialViewModel

@{
    ViewBag.Title = Model.Title;
    bool isAdmin = User.IsInRole("Admin");
}

<div id="ticket-grid">
    @{ 
        Html.RenderPartial(Model.PartialViewName, Model.ModelObject);
    }
</div>

@if (isAdmin)
{
    <div id="ticket-result"></div>

    {
        Html.RenderPartial("ToolbarPartial", Model.ModelId);
    }
}

@section scripts {
    @Scripts.Render("~/Scripts/tickets-by-number-modal.js", "~/Scripts/ticket.js")    
}