@model PartialViewModel

@{
    ViewBag.Title = Model.Title;
    bool isAdmin = User.IsInRole("Admin");
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.css" />
}

<div id="ticket-grid">
    @{
        Html.RenderPartial(Model.PartialViewName, Model.ModelObject);
    }
</div>

@if (isAdmin)
{
    <div id="ticket-result"></div>

    {
        Html.RenderPartial("ToolbarPartial", Model.ModelId);
    }
}

@section scripts {
    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js")
    @Scripts.Render("~/Scripts/tickets-by-number-modal.js", "~/Scripts/ticket.js")
}