@model PartialModel<int>

@{
    bool isAdmin = User.IsInRole("Admin");
}

<script>
    function OnBegin() {
        $('#ticket-result').html('');
    }

    // For delete action.
    function OnSuccess(data) {
        $('#ticket-toolbar').html('');
    }
</script>

<div id="ticket-grid">
    @Html.Action(Model.Action, Model.Controller, new { id = Model.Param, partial = true })
</div>

@if (isAdmin)
{
    <div id="ticket-result"></div>
    @Html.Partial("ToolbarPartial", Model.Param)
}

@section scripts {
    @Scripts.Render("~/Scripts/tickets-by-number-modal.js")    
}