@model PartialViewModel

@{
    ViewBag.Title = Model.Title;
}

<h2 id="page-title">@ViewBag.Title</h2>
<hr />

<div id="color-grid" class="panel panel-info">
    @{ Html.RenderPartial(Model.PartialViewName, Model.ModelObject); }
</div>

<div>
    @Html.ActionLink("Назад до списку", "Index")
</div>

@section scripts {
    @Scripts.Render("~/Scripts/packages-modal.js",
                    "~/Scripts/color.js")
}