@model PartialModel<int>

@{

}

<div id="colorGrid">
    @{
        Html.RenderAction(Model.Action, Model.Controller, new { id = Model.Param, partial = true });
    }
</div>

<div id="colorResult">

</div>