@model PartialViewModel

@{
    ViewBag.Title = Model.Title;
    bool isAdmin = User.IsInRole("Admin");
}

<div id="color-grid">
    @{ 
        Html.RenderPartial(Model.PartialViewName, Model.ModelObject);
    }
</div>

@if (isAdmin)
{
    <div id="color-result"></div>
    
    { 
        Html.RenderPartial("ToolbarPartial", Model.ModelId);
    }
}
<br />

<div>
    @Html.ActionLink("Назад до списку", "Index")
</div>

@section scripts {
    @Scripts.Render("~/Scripts/packages-modal.js",
                    "~/Scripts/color.js")
}