@model int

@{
    Layout = null;
    var routeValues = new { id = Model };
    var ajaxOptions = new AjaxOptions { UpdateTargetId = "color-grid", OnBegin = "OnBegin" };
}

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Керувати
        <span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
        <li>@Ajax.ActionLink("Деталі", "Details", routeValues, ajaxOptions, new { })</li>
        <li>@Ajax.ActionLink("Редагувати", "Edit", routeValues, ajaxOptions, new { })</li>
        <li>@Ajax.ActionLink("Видалити", "Delete", routeValues, ajaxOptions, new { })</li>
    </ul>
</div>
